
<div style="width: 100%;" fxLayout="row" fxLayoutGap="10px">
<div fxFlex="50%">
  <mat-table matSort [dataSource]="dsSelection"
  class="mat-elevation-z8" cdkDropList #selectionTable="cdkDropList" #selectionTable="matSort"
  [cdkDropListData]="selectionList.getValue()" [cdkDropListConnectedTo]="[availableTable]"
  (cdkDropListDropped)="drop($event)">

  <ng-container *ngFor="let column of selectionColumnDef" [cdkColumnDef]="column.columnDef">
    <mat-header-cell *cdkHeaderCellDef mat-sort-header [disabled]="getDisableSort(column)" >{{ column.header }}</mat-header-cell>
    <mat-cell *cdkCellDef="let row">{{ column.cell(row) }}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="selectionDisplayedColumns()"></mat-header-row>
  <mat-row *matRowDef="let row; columns: selectionDisplayedColumns()" cdkDrag [cdkDragData]="row"></mat-row>
</mat-table>
</div>
<div fxFlex="50%">
<mat-table matSort [dataSource]="dsAvailable" class="mat-elevation-z8"
  cdkDropList #availableTable="cdkDropList" #availableTable="matSort"
   [cdkDropListData]="availableList.getValue()"
  [cdkDropListConnectedTo]="[selectionTable]" (cdkDropListDropped)="drop($event)">

  <ng-container *ngFor="let column of availableColumnDef" [cdkColumnDef]="column.columnDef">
    <mat-header-cell *cdkHeaderCellDef mat-sort-header [disabled]="disableSort" >{{ column.header }}</mat-header-cell>
    <mat-cell *cdkCellDef="let row">{{ column.cell(row) }}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="availableDisplayedColumns()"></mat-header-row>
  <mat-row *matRowDef="let row; columns: availableDisplayedColumns()" cdkDrag [cdkDragData]="row"></mat-row>

</mat-table>
</div>
</div>